{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Ajouter Un Gerant  </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="static/b/images/ico.png">
    <link rel="stylesheet" href="static/b/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="static/b/css/style.css">
	
	<!-- Pick date -->
    <link rel="stylesheet" href="static/b/vendor/pickadate/themes/default.css">
    <link rel="stylesheet" href="static/b/vendor/pickadate/themes/default.date.css">

</head>

<body>

  
    {% include "adm/navheader.html" %}
  
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
       
    {% include "adm/sidebar.html" %}
        <!--**********************************
            Sidebar end
        ***********************************-->

		
		
          <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
				    
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Ajouter un gérant</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{%url 'adm-index' %}">Home</a></li>
                            <li class="breadcrumb-item active"><a href="add-professor.html">Gérants</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Ajouter un gérant</a></li>
                        </ol>
                    </div>
                </div>
				
				 <div class="row">
					<div class="col-xl-12 col-xxl-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
								<h5 class="card-title">Infomations basiques</h5>
							</div>
							<div class="card-body">
                                <div class="text-center text-muted mb-4">

                                    {% if msg %}
                                      <small>{{ msg | safe }}</small>
                                    {% else %}
                                      Ajouter les informations
                                    {% endif %}  
                                  
                                  </div>
                    
                                  {% if not success %}
                                    <form  method="POST" autocomplete="off">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-label">Prenom </label>
                                                    {{form.first_name}}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-label">Nom </label>
                                                    {{form.last_name}}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-label">Nom d'utilisateur </label>
                                                    {{form.username}}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-label">Email </label>
                                                    {{form.email}}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-label">Date d'enregistrement'</label>
                                                    {{form.date_joined}}
                                                </div>
                                            </div>
                                            
                                            
                                            
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-label">Numero Mobile </label>
                                                    {{form.telephone}}
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-label">Mot de passe </label>
                                                    {{form.password1}}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-label">Confirmer mot de passe </label>
                                                    {{form.password2}}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-label">Adresse </label>
                                                    {{form.adresse}}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-label">Signature </label>
                                                    {{form.signature}}
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <button type="submit" class="btn btn-primary">Ajouter</button>
                                                <button type="button" class="btn btn-light" onclick="window.history.back()">Annuler</button>
                                            </div>
                                        </div>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="../index.htm" target="_blank">DexignLab</a> 2020</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
<script src="static/b/vendor/global/global.min.js"></script>
	<script src="static/b/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="static/b/js/custom.min.js"></script>
	<script src="static/b/js/dlabnav-init.js"></script>

	<!-- Svganimation scripts -->
    <script src="static/b/vendor/svganimation/vivus.min.js"></script>
    <script src="static/b/vendor/svganimation/svg.animation.js"></script>
    <script src="static/b/js/styleSwitcher.js"></script>
	
	<!-- pickdate -->
    <script src="static/b/vendor/pickadate/picker.js"></script>
    <script src="static/b/vendor/pickadate/picker.time.js"></script>
    <script src="static/b/vendor/pickadate/picker.date.js"></script>
	
	<!-- Pickdate -->
    <script src="static/b/js/plugins-init/pickadate-init.js"></script>

</body>
</html>