{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Liste des appartements </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'b/images/ico.png'%}">
    <link rel="stylesheet" href="{%static 'b/vendor/bootstrap-select/dist/css/bootstrap-select.min.css'%}">
	
	<!-- Datatable -->
    <link href="{%static 'b/vendor/datatables/css/jquery.dataTables.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'b/css/style.css'%}">
</head>

<body>

    {% include "adm/navheader.html" %}
    {% include "adm/sidebar.html" %}

    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Tous les appartements</h4>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'adm-index' %}">Accueil</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0);">Appartements</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0);">Tous les appartements</a></li>
                    </ol>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Liste des appartements</h4>
                            <a href="{% url 'add-appartement' %}" class="btn btn-primary">+ Ajouter un appartement</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example5" class="display" style="min-width: 845px">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom</th>
                                            <th>Numéro</th>
                                            <th>Lieux</th>
                                            <th>Nb Chambres</th>
                                            <th>Nb Salles de Bain</th>
                                            
                                            <th>Propriétaire</th>
                                            <th>Images</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for appartement in appartements %}
                                            <tr>
                                                <td>{{ appartement.id }}</td>
                                                <td>{{ appartement.nomAP }}</td>
                                                <td>{{ appartement.telAP }}</td>
                                                <td>{{ appartement.adresseAP }}</td>
                                                <td>{{ appartement.nb_chambres }}</td>
                                                <td>{{ appartement.nb_salles_bains }}</td>
                                                
                                                <td>{{ appartement.Gerant }}</td>
                                                <td>
                                                    {% if appartement.image %}
                                                        <img src="{{ appartement.image.url }}" alt="{{ appartement.nomAP }}" style="width: 50px; height: 50px;">
                                                    {% else %}
                                                        N/A
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{% url 'edit-appartement' appartement.id %}" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
                                                    <a href="{% url 'delete-appartement' appartement.id %}" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Required vendors -->
	 <script src="{%static 'b/vendor/global/global.min.js'%}"></script>
	 <script src="{%static 'b/vendor/bootstrap-select/dist/js/bootstrap-select.min.js'%}"></script>
	 <script src="{%static 'b/js/custom.min.js'%}"></script>
	 <script src="{%static 'b/js/dlabnav-init.js'%}"></script>	
	 
	 <!-- Datatable -->
	 <script src="{%static 'b/vendor/datatables/js/jquery.dataTables.min.js'%}"></script>
	 <script src="{%static 'b/js/plugins-init/datatables.init.js'%}"></script>
	 
	 <!-- Svganimation scripts -->
	 <script src="{%static 'b/vendor/svganimation/vivus.min.js'%}"></script>
	 <script src="{%static 'b/vendor/svganimation/svg.animation.js'%}"></script>
	 <script src="{%static 'b/js/styleSwitcher.js'%}"></script>
</body>
</html>
