{% extends "adm/base-index.html" %}
{% block adm %}

<div class="content-body">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-xl-3 col-xxl-3 col-sm-6">
                <div class="widget-stat card bg-primary">
                    <div class="card-body">
                        <div class="media">
                            <span class="mr-3">
                                <i class="la la-user"></i>
                            </span>
                            <div class="media-body text-white">
                                <p class="mb-1">Total gérants</p>
                                <h3 class="text-white">{{ total_gerant }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
            <div class="col-xl-3 col-xxl-3 col-sm-6">
                <div class="widget-stat card bg-warning">
                    <div class="card-body">
                        <div class="media">
                            <span class="mr-3">
                                <i class="la la-users"></i>
                            </span>
                            <div class="media-body text-white">
                                <p class="mb-1">Total locataires</p>
                                <h3 class="text-white">{{ total_locataire }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
            <div class="col-xl-3 col-xxl-3 col-sm-6">
                <div class="widget-stat card bg-secondary">
                    <div class="card-body">
                        <div class="media">
                            <span class="mr-3">
                                <i class="fa fa-building-o"></i>
                            </span>
                            <div class="media-body text-white">
                                <p class="mb-1">Total appartements</p>
                                <h3 class="text-white">{{ total_appartements }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-xxl-3 col-sm-6">
                <div class="widget-stat card bg-info">
                    <div class="card-body">
                        <div class="media">
                            <span class="mr-3">
                                <i class="la la-calendar-check-o"></i>
                            </span>
                            <div class="media-body text-white">
                                <p class="mb-1">Total des réservations </p>
                                <h3 class="text-white">{{ total_reservations }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
            <div class="col-xl-3 col-xxl-3 col-sm-6">
                <div class="widget-stat card bg-success">
                    <div class="card-body">
                        <div class="media">
                            <span class="mr-3">
                                <i class="la la-money"></i>
                            </span>
                            <div class="media-body text-white">
                                <p class="mb-1">Total revenus</p>
                                <h3 class="text-white">5640000 MRU</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
            <div class="col-xl-3 col-xxl-3 col-sm-6">
                <div class="widget-stat card bg-danger">
                    <div class="card-body">
                        <div class="media">
                            <span class="mr-3">
                                <i class="la la-bar-chart"></i>
                            </span>
                            <div class="media-body text-white">
                                <p class="mb-1">Taux d'occupation</p>
                                <h3 class="text-white">{{ occupation_rate }}%</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-xxl-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Réservations par appartement</h4>
                        <div id="reservations_per_month_graph">
                            {{ plot_divs|safe }}
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="col-xl-6 col-xxl-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Revenus par mois</h4>
                        <div id="revenue_per_month_graph">
                            {{ plot_divs|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-xxl-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Top 5 des appartements les plus réservés</h4>
                        <div id="top_appartements_graph">
                            {{ top_appartements_graph|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </div>
</div>

{% endblock %}
