<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-home"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{%url 'adm-index' %}"> Admin </a></li>
                    <li><a href="{%url 'gerant-index' %}"> Gérant </a></li>
                    <li><a href="{%url '' %}">Locataire</a></li>
                </ul>
            </li>
       
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-user"></i>
                    <span class="nav-text">Gérants</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{%url 'all-gerant' %}">Tous Les Gérants</a></li>
                    <li><a href="{%url 'add-gerant' %}">Ajouter Un Gérant</a></li>
                    {% comment %} <li><a href="{%url 'edit-gerant' %}">Modifier Un Gérant</a></li>
                    <li><a href="{%url 'gerant-profile' %}">Profil Du Gérant </a></li> {% endcomment %}
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-users"></i>
                    <span class="nav-text">Locataires</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{%url 'all-locataire' %}">Tous Les Locataires</a></li>
                    <li><a href="{%url 'add-locataire' %}">Ajouter Un Locataire</a></li>
                    {% comment %} <li><a href="{%url 'edit-locataire' %}">Modifier Un Locataire</a></li> {% endcomment %}
                </ul>
            </li>
           
            
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="la la-building"></i>
                <span class="nav-text">Appartements</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="{%url 'all-appartement' %}">Tous Les Appartements</a></li>
                <li><a href="{%url 'add-appartement' %}">Ajouter Un Appartement</a></li>
                {% comment %} <li><a href="{%url 'edit-appartement' %}">Modifier Un Appartement</a></li> {% endcomment %}
            </ul>
        </li>

        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
            <i class="la la-building"></i>
            <span class="nav-text">Reservations</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="{%url 'all-reservation' %}">Tous Les reservations</a></li>
            <li><a href="{%url 'add-reservation' %}">Ajouter Une reservation</a></li>
            
        </ul>
    </li>

            
            <li class="nav-label">Extra</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-th-list"></i>
                    <span class="nav-text">Pages</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{%url 'register' %}">Register</a></li>
                    <li><a href="{%url 'login' %}">Login</a></li>
                   
                   
                </ul>
            </li>
        </ul>
    </div>
</div>